<div class="container">
    <div class="heading-section">
        <a href="https://clearvisionbreakthrough.com/tsl.php#aff=brunofagundespaixaod757" class="title">iGenics&reg;</a>
    </div>

    <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>

    <div class="product-section">
        <a href="https://clearvisionbreakthrough.com/tsl.php#aff=brunofagundespaixaod757" class="product-img">
            <img src="https://m.media-amazon.com/images/I/81Jt7QcRmwL._AC_UF1000,1000_QL80_.jpg" alt="iGenics">
        </a>
        <div class="btn-wrap">
            <a href="https://clearvisionbreakthrough.com/tsl.php#aff=brunofagundespaixaod757" class="btn-cta">Click here now to access</a>
        </div>
    </div>

    <div class="certifications">
        <div class="cert-logos">
            <img src="https://clearvisionbreakthrough.com/images/university-london-logo-new.png" alt="University of London">
            <img src="https://clearvisionbreakthrough.com/images/johns-hopkins-logo-new.png" alt="Johns Hopkins">
            <img src="https://clearvisionbreakthrough.com/images/yale-university-logo-new.png" alt="Yale University">
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-links">Privacy Policy | Terms &amp; Conditions | Refunds | Resale Policy | Contact Us</div>
    <div class="disclaimer">All statements and results presented on this website are for informational purposes only. They are not specific medical advice for any individual. Neither the website, nor product should substitute medical advice given by a certified health professional. If you have a health problem, or you have sensible allergies, are pregnant or diagnosed with chronic conditions, it is strongly recommended that you consult your doctor immediately and before taking any pills or supplements. Individual results may vary depending on the case. Copyright &copy; 2023. All Rights Reserved.</div>
    <div class="copyright">&copy;iGenics. All Rights Reserved.</div>
</div>
